{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card mx-auto" style="max-width: 400px;">
        <div class="card-header">
            Profile
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Username: {{ user.username }}</li>
                <li class="list-group-item">First Name: 
                    {% if user.first_name %}
                        {{ user.first_name }}
                    {% else %}
                        Not filled yet
                    {% endif %}
                </li>
                <li class="list-group-item">Last Name: 
                    {% if user.last_name %}
                        {{ user.last_name }}
                    {% else %}
                        Not filled yet
                    {% endif %}
                </li>
                <li class="list-group-item">Email: 
                    {% if user.email %}
                        {{ user.email }}
                    {% else %}
                        Not filled yet
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
